.Categories-block {
    width: 22vw;
    margin-right: 2vw;
}

.Categories-list {
    text-align: start;
    padding: 5px;
}

.Categories-link p {
    margin-left: 7%;
    margin-top: 5%;
}

.Update-category-button {
    margin-left: 1vw;
    font-size: small;
    height: 4vh;
    text-align: center;
}

.Update-category-block {
    padding-top: 20px;
    padding-bottom: 30px;
}

.Categories-main-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40vw;
    margin: auto;
}