.Reviews-block {
    width: 67vw;
    margin-left: 4vw;
}

.Reviews-item {
    padding: 5px;
    margin-bottom: 15px;
    text-align: start;
}

.Reviews-item p {
    margin-left: 1.5vw;
}

.Reviews-list-block {
    display: flex;
    justify-content: center;
}

.Reviews-category-block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.Create-review-block {
    padding-top: 20px;
    padding-bottom: 30px;
}

.Review-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 65vw;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Review-block > * {
    margin-left: 30px;
    line-height: 1.5vh;
}

.Review-category-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Review-text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 61vw;
}

.Review-text {
    background-color: #ffffff;
    padding: 7px;
    border-radius: 6px;
    line-height: 25px;
    color: #242424;
    text-align: start;
}

.Review-rating-stars-block {
    display: flex;
    align-items: center;
}

.Truncate-review-text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 96%;
}

.Review-action-btns-block {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.Search-review-item-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;   
}

.Search-review-item-block button {
    margin: 0px;
    height: 4vh;
}

.Search-review-item-block input {
    width: 57vw;
}

.Add-item-radio-block div .Add-item-radio:checked ~ .Search-review-item-block {
    display: none;
}
  