.Reviews-block {
    width: 67vw;
    margin-left: 4vw;
}

.Reviews-item {
    padding: 5px;
    margin-bottom: 15px;
    text-align: start;
}

.Reviews-item p {
    margin-left: 1.5vw;
}

.Reviews-list-block {
    display: flex;
    justify-content: center;
}

.Reviews-category-block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.Create-review-block {
    padding-top: 20px;
    padding-bottom: 30px;
}

.Review-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 65vw;
    margin: auto;
}

.Review-block > * {
    margin-left: 30px;
    line-height: 1.5vh;
}

.Review-category-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Review-text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Review-text {
    border: 1px solid #bababa;
    padding: 7px;
    border-radius: 6px;
}

.Review-rating-stars-block {
    display: flex;
    align-items: center;
}
  