.User-div, .User-info-div {
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    margin-bottom: 15px;
    line-height: 0.2;
}

.User-info-div {
    margin-top: 30px;
}

.Users-link {
    color: black;
}

.Roles-list {
    line-height: 1.8;
    margin-top: -1px;
}