.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93vw;
  align-items: center;
  height: 100%;
}

.Logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 13%;
}

.Logo-text {
  font-size: calc(5px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
}

.Header-link {
  transition: 0.4s ease-out;
  color: #c4c4c4;
  font-size: calc(2px + 2vmin);
}

.Header-link:hover {
  cursor: pointer;
  transition: 0.4s ease-out;
  color: white;
}

button {
  transition: 0.4s ease-out;
  font-size: calc(0.5px + 2vmin);
  border-radius: 3px;
  padding: 6px 18px;
}

button:hover {
  transition: 0.4s ease-out;
  cursor: pointer;
}

.Auth-div {
  display: flex;
}

.Auth-link {
  margin: 0px 8px;

}

.Auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 25%;
  height: 45vh;
  padding: 10px;
  border-radius: 6px;
  background-color: #e7e7e7ad;
}

.Auth-form-btn {
  height: 5vh;
  margin-top: 15px;
  background-color: #3266e0;
  color: #ffffff;
  border: 1px solid #c9c9c9;
  box-shadow: none;
  padding: 6px 18px;
}

.Auth-form-btn:hover {
  background-color: #2f6eff;
  color: white;
}

input {
  margin: 10px 0px;
  font-size: calc(1px + 2vmin);
  height: 3.4vh;
  width: 85%;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
}

input:hover {
  border: 1px solid #a2a2a2;
}

input:focus {
  outline: 1px solid #a2a2a2;
}

.Form-text {
  font-size: calc(3px + 2vmin);
}

.User-div, .User-info-div {
  border-radius: 5px;
  background-color: #e7e7e7ad;
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  margin-bottom: 30px;
  line-height: 0.2;
}

.User-div:first-child {
  margin-top: 40px;
}

.User-info-div {
  margin-top: 30px;
}

.Suggestion-link {
  text-decoration: underline;
  color: #3266e0;
  transition: 0.4s ease-out;
}

.Suggestion-link:hover {
  color: #2f6eff;
  transition: 0.4s ease-out;
}

.Users-link {
  color: black;
}

.Roles-list {
  line-height: 1.8;
  margin-top: -1px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -3vw;
}