.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93vw;
  align-items: center;
  height: 100%;
}

.Logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 13%;
}

.Logo-text {
  font-size: calc(6px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
}

.Header-link {
  transition: 0.4s ease-out;
  color: rgb(196, 196, 196);
  font-size: calc(2px + 2vmin);
}

.Header-link:hover {
  cursor: pointer;
  transition: 0.4s ease-out;
  color: white;
}

button {
  transition: 0.4s ease-out;
  font-size: calc(0.5px + 2vmin);
  border-radius: 3px;
  padding: 6px 18px;
}

button:hover {
  transition: 0.4s ease-out;
  cursor: pointer;
}

.Auth-div {
  display: flex;
}

.Auth-link {
  margin: 0px 8px;

}

.Auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 25%;
  height: 45vh;
  padding: 10px;
  border-radius: 2px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #f3f3f3ad;
}

.Auth-form-btn {
  margin-top: 15px;
  background-color: white;
  color: #212121;
  border-color: 1px solid #212121;
  padding: 6px 18px;
}

.Auth-form-btn:hover {
  background-color: #212121;
  color: white;
}

input {
  margin: 10px 0px;
  font-size: calc(1px + 2vmin);
  height: 3vh;
  width: 70%;
  border-radius: 3px;
}

input:hover {
  border-color: grey;
}

.Form-text {
  font-size: calc(3px + 2vmin);
}